body {
  background-color: #1b1926;
  color: var(--fontColor);
  font-family: "Work Sans", sans-serif;
}

.header {
  position: relative;
  z-index: 1;
  font-size: 40px;
  line-height: 1;
  margin: 18px 0;
}

.content-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 248px;
  padding: 12px;
  margin: 24px auto;
  position: relative;
  background-image: url("./background.png");
  background-size: 106%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.image-frame {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 1);
}

.image-frame.goose {
  top: 10px;
  left: 182px;
}

.image-frame.jimmy {
  top: 78px;
  left: 212px;
}

.image-frame img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.links-container {
  position: relative;
  z-index: 1;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.link-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 2px solid var(--fontColor);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  transition: 0.2s;
}

.link-item:hover {
  background-color: rgba(212, 211, 211, 0.7);
}

.link-anchor {
  width: 24px;
  height: 24px;
  margin: auto;
}

.link-anchor svg {
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--fontColor);
  fill: var(--fontColor);
}

.link-anchor svg.email {
  fill: none;
}

:root {
  --fontColor: #f9f9f9;
}
